/* Car.module.css */
.card {
  border: 2px solid blue;
  width: 400px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
}

.carImg {
  width: 350px;
}

.btn {
  background-color: green;
  color: whitesmoke;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
}

.btn:hover {
  background-color: rgb(15, 90, 15);
}

.card:hover {
  box-shadow: 20px blue;
}
